* {
  font-family: Poppins, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0 24px;
  background-image: url(images/Cybernet-background-1.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 800px;
}

#home a {
  background: linear-gradient(30deg, #0344f5, #04bdf5a9);
  text-align: center;
  color: white;
  font-size: 48px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  text-align: center;
  color: white;
  background-color: hsl(0, 0%, 35%);
  ;
  font-size: 24px;
  /* box-shadow: 10px 10px 0 0 black;
    position: relative;
    bottom:  0;
    left: 0;
    transition: left .4s, bottom .3s;
    border: 3px solid blue; */
}

/* header h2:hover{
    bottom: -10px;
    left: 10px;
    box-shadow: 0 0 0 0;
} */
.main-navbar ul {
  display: flex;
  margin: 24px 0;
  background-color: hsl(0, 0%, 35%);
  justify-content: space-between;
  list-style-type: none;
}

.main-navbar ul li a {
  text-align: center;
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.user-navbar ul {
  display: flex;
  margin: 24px 0;
  background-color: hsl(0, 0%, 35%);
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.user-navbar ul li a {
  display: flex;
  align-items: center;
  /* text-align: center; */
  color: white;
  background-color: transparent;
  text-decoration: none;
}


.search-bar {
  border-radius: 50px;
  /* border-radius: 100px; */
  margin: 0 auto;
  width: 600px;
  background-color: hsl(0, 0%, 60%);
  color: hsl(0, 0%, 25%);
  border: 0;
  padding: 16px;
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

button .fa-solid {
  width: 25px;
  color: #555;
  font-size: 22px;
  cursor: pointer;
}

::placeholder {
  color: #555;
}

.result-box ul {
  border-top: 1px solid #000;
  padding: 15px 10px;
}

.result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}

.result-box ul li:hover {
  background: white;
}

footer ul {
  display: flex;
  background-color: hsl(0, 0%, 35%);
  justify-content: space-between;
  list-style-type: none;
}

footer li a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

footer {
  margin-bottom: 24px;
  margin-top: auto;
}