/* Import the Poppins font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins");

/* Reset CSS styles for all elements */
* {
  /* Remove padding and margin */
  padding: 0;
  margin: 0;
  /* Use border-box box model */
  box-sizing: border-box;
  /* Set the font family to Poppins */
  font-family: "Poppins", sans-serif;
}

/* Style the background element */
.background {
  /* Position the background absolutely */
  position: absolute;
  top: 0;
  left: 0;
  /* Set the width and height to cover the entire screen */
  width: 100%;
  min-height: 100vh;
  /* Set the background image and styling */
  background-image: url(../images/cybernet-background-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* Set the z-index to -1 to send the background behind other elements */
  z-index: -1;
  /* Apply a blur filter to the background */
  filter: blur(5px);
}

/* Style the container element */
.container {
  /* Display the container as a flexbox */
  display: flex;
  /* Center the container vertically and horizontally */
  align-items: center;
  justify-content: center;
  /* Set the minimum height to 90vh */
  min-height: 90vh;
}

/* Style the box element */
.box {
  /* Set the background color and padding */
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  /* Set the border radius and box shadow */
  border-radius: 20px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

/* Style the form box element */
.form-box {
  /* Set the width and margin */
  width: 450px;
  margin: 0px 10px;
}

/* Style the form box header */
.form-box header {
  /* Set the font size, weight, and padding */
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  /* Set the border bottom */
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

/* Style the form field elements */
.form-box form .field {
  /* Display the field as a flexbox column */
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

/* Style the input fields */
.form-box form .input input {
  /* Set the height, width, and padding */
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  /* Set the border radius and border */
  border-radius: 5px;
  border: 1px solid #ccc;
  /* Remove the outline */
  outline: none;
}

/* Style the button elements */
.btn {
  /* Set the height, background color, and border */
  height: 35px;
  background: rgba(19, 187, 159, 0.808);
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  /* Set the cursor to a pointer */
  cursor: pointer;
  /* Add a transition effect */
  transition: all 0.3s;
  margin-top: 10px;
  padding: 0px 10px;
}

/* Style the button on hover */
.btn:hover {
  /* Set the opacity to 0.82 on hover */
  opacity: 0.82;
}

/* Style the submit button */
.submit {
  /* Set the width to 100% */
  width: 100%;
}

/* Style the link element */
.link {
  /* Set the margin bottom to 15px */
  margin-bottom: 15px;
}
